# ========================================================================
# ======                      INGESTION SETTINGS                    ======
# ========================================================================
ingestion:
    path_file: ../data/in/lipids.tsv.gz
    chunksize:
    encoding: latin-1
    delimiter: "\t"
    schema:
        Lipid ID: string
        Name: string
        Abbreviation*: string
        Synonyms*: string
        Lipid class*: string
        Parent: string
        Components*: string
        Level: category
        SMILES (pH7.3): string
        InChI (pH7.3): string
        InChI key (pH7.3): string
        Formula (pH7.3): string
        Charge (pH7.3): Int64
        Mass (pH7.3): float64
        Exact Mass (neutral form): float64
        Exact m/z of [M.]+: float64
        Exact m/z of [M+H]+: float64
        Exact m/z of [M+K]+: float64
        Exact m/z of [M+Na]+: float64
        Exact m/z of [M+Li]+: float64
        Exact m/z of [M+NH4]+: float64
        Exact m/z of [M-H]-: float64
        Exact m/z of [M+Cl]-: float64
        Exact m/z of [M+OAc]-: float64
        CHEBI: string
        LIPID MAPS: string
        HMDB: string
        MetaNetX: string
        PMID: string


# ========================================================================
# ======                   TRANSFORMATION SETTINGS                  ======
# ========================================================================
transformation:
    # --- General tranformations dataset
    rename_columns:
        Lipid ID: swiss_lipid_id
        Name: name
        Abbreviation*: abbreviation
        Synonyms*: synonyms
        Lipid class*: lipid_classes_id
        Parent: parent_id
        Components*: components
        Level: level
        SMILES (pH7.3): smiles_ph_7_3
        InChI (pH7.3): inchi_ph_7_3
        InChI key (pH7.3): inchi_key_ph_7_3
        Formula (pH7.3): formula_ph_7_3
        Charge (pH7.3): charge_ph_7_3
        Mass (pH7.3): mass_ph_7_3
        Exact Mass (neutral form): exact_mass_neutral_form
        Exact m/z of [M.]+: exact_mz_m_radical_cation
        Exact m/z of [M+H]+: exact_mz_m_h_pos
        Exact m/z of [M+K]+: exact_mz_m_k_pos
        Exact m/z of [M+Na]+: exact_mz_m_na_pos
        Exact m/z of [M+Li]+: exact_mz_m_li_pos
        Exact m/z of [M+NH4]+: exact_mz_m_nh4_pos
        Exact m/z of [M-H]-: exact_mz_m_h_neg
        Exact m/z of [M+Cl]-: exact_mz_m_cl_neg
        Exact m/z of [M+OAc]-: exact_mz_m_oac_neg
        CHEBI: chebi_id
        LIPID MAPS: lipid_maps_id
        HMDB: hmdb_id
        MetaNetX: metanetx_id
        PMID: pubmed_id

    strip_columns: true

    # --- Particular tranformations dataset (column level)
    add_prefixes:
        swiss_lipid_id: 'SLM:'
        chebi_id: 'CHEBI:'
        lipid_maps_id: LM
        hmdb_id: HMDB
        metanetx_id: MNXM

    # --- Other transformations
    generate_ontology:
        ontology_metadata:
            ontology: swisslipids
            title: SwissLipids Ontology
            description: Ontology representing SwissLipids data, including lipid IDs, classes, and parent relationships.
            version: 1.0.0
            creators: [SIB Swiss Institute of Bioinformatics.]
            license: CC-BY 4.0
            created: '2025-08-29'

        columns_for_terms:
            term_id:
                name: swiss_lipid_id
                separator:
            parent_id:
                name: parent_id
                separator:
            class_id:
                name: lipid_classes_id
                separator: '|'

        properties:
            id: swiss_lipid_id

            name: name

            # synonyms: 'synonyms' 
            annotation:
                level:
                    datatype: xsd:string

                # 'abbreviation':
                #     datatype: 'xsd:string'

                # 'components':
                #     datatype: 'xsd:string'
                # 'smiles_ph_7_3':
                #     datatype: 'xsd:string'

                # 'inchi_ph_7_3':
                #     datatype: 'xsd:string'

                # 'inchi_key_ph_7_3':
                #     datatype: 'xsd:string'

                # 'formula_ph_7_3':
                #     datatype: 'xsd:string'

                # 'charge_ph_7_3':
                #     datatype: 'xsd:integer'

                # 'mass_ph_7_3':
                #     datatype: 'xsd:float'

                # 'exact_mass_neutral_form':
                #     datatype: 'xsd:float'

                # 'exact_mz_m_radical_cation':
                #     datatype: 'xsd:float'

                # 'exact_mz_m_h_pos':
                #     datatype: 'xsd:float'

                # 'exact_mz_m_k_pos': 
                #     datatype: 'xsd:float'

                # 'exact_mz_m_na_pos':
                #     datatype: 'xsd:float'

                # 'exact_mz_m_li_pos':
                #     datatype: 'xsd:float'

                # 'exact_mz_m_nh4_pos':
                #     datatype: 'xsd:float'

                # 'exact_mz_m_h_neg':
                #     datatype: 'xsd:float'
                # 'exact_mz_m_cl_neg':
                #     datatype: 'xsd:float'
                # 'exact_mz_m_oac_neg':
                #     datatype: 'xsd:float'
                lipid_classes_id:
                    datatype: xsd:string

            references:
            -   chebi_id
            -   lipid_maps_id
            -   hmdb_id
            -   metanetx_id
            -   pubmed_id


    generate_mapping_file:
        columns:
        -   swiss_lipid_id
        -   chebi_id
        -   lipid_maps_id
        -   hmdb_id
        -   metanetx_id


# ========================================================================
# ======                      SERVING SETTINGS                      ======
# ========================================================================
serving:
    ontology:
        path_file: ../data/out/swiss_lipids_ontology.obo
        serializer: obo

    mapping_file:
        path_file: ../data/out/swiss_lipids_mapping_ids
        format: csv
        delimiter: "\t"
        compression: tar.gz
